@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Oswald:wght@400;500;600&display=swap');

* {
    font-family: 'Agdasima', sans-serif;
}
body {
    background-color: rgb(0, 218, 164);
}     
h1 {
    color: #FF0F7C;
    text-align:center;
    margin:auto;
    font-size: 50px;
}
h3 {
    text-align:center;
    margin:auto;
    font-size: 20px;
}